body{
  background-color: white;
  color: black;
}

body::-webkit-scrollbar{
  display: none;
}

.nav_bar{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: rgb(70,25,113);
}
.sub_bar{
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
  align-items: center;

  background-color: rgb(103, 21, 179);
}
.sub_bar .items{
  padding: 10px;
  font-weight: bold;
}
.sub_bar .items:hover{
  background-color: black;
  cursor: pointer;
}